<p>
  artiste works!
</p>

<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h3>La bio'</h3>
        <p>Johann Joosten est un auteur-compositeur-interprète, pianiste et guitariste, du nord de la France.<br>
        Johann découvre et apprend la musique dès l'enfance. Il se prend de passion pour elle à l'adolescence. Il découvre la scène en tant que clavieriste dans des groupes locaux et sillonne les cafés-concerts du Calaisis.
        <br>
        Amoureux de chanson française, il s'arme de sa guitare et de son crayon pour composer ses premières chansons avec, dans un coin de sa tête, des modèles tels que Goldman ou Cabrel.
        <br>

        Ses chansons s'accumulent, l'écriture s'affirme et s'affine. Johann vainc une certaine appréhension et commence à présenter ses chansons sur scène lors de tremplins ou de concours. Ses prestations y sont remarquées (voir en bas de page). Il contacte Erwan Eveno, batteur, puis d'autres musiciens pour jouer ses chansons sur scène. En 2010 sort un premier album : "Droit à l'essentiel".
        <br>
        2013 est une belle année pour Johann qui voit une de ses vidéos créer une jolie réaction sur YouTube. Lors d'un concours près de Bordeaux, Johann chante "Sur les bancs de mon école", une chanson composée suite à la tuerie survenue à Toulouse le 19 mars 2012. La vidéo de sa prestation cumule près de 7000 vues. Elle est relayée par différents médias nationaux : France 3 Région Midi-Pyrénées, Sud-Ouest, La Dépêche du Midi, Nord Littoral... Tous saluent la pudeur et l'élégance de l'hommage qui se focalise sur la tristesse, l'ignominie et la bêtise du drame en délaissant l'aspect sensationnel de la tragédie. L'association MPCT (Mouvement pour la Paix et Contre le Terrorisme) utilise la chanson pour illustrer certaines de ses conférences.
        Est-ce une conséquence directe de cela ? Peut-être. Toujours est-il que la même année, Johann qui postule régulièrement aux stages de l'association "Les Voix du Sud" de Francis Cabrel voit son dossier retenu. En plus du symbole fort qu'est la rencontre avec l'idole d'Astaffort dans son fief même, Johann bénéficie des conseils d'auteurs-compositeurs aguerris, Olivier Daguerre, Davy Kilembe et Le Larron, ainsi que du coach vocal Christian Alazard.
        <br>
        	Johann s'engage dans l'enregistrement d'un nouvel album. Enregistré au Campus des Musiques Actuelles de Valenciennes, ce projet bénéficie des arrangements pop de Paul-Alain Fontaine (Aymeric Silvert Band, Steve Lukather, Christophe Héraut,...) tandis qu'au son officie Eric Bricout (Aymeric Silvert Band, Steve Lukather, Lézard Martien,...). "Le Point de Non-Retour" paraît fin 2015. "Je passerai pas ma vie" et "La route" en sont les singles. Damien François en a réalisé les clips.
          <br>
        Pour défendre cet opus, la formation Live s'étoffe avec les arrivées de Pierre Bigot (guitare), Lionel Rénier (basse) et David Jannequin (clavier) aux côtés d'Erwan et de Johann.
        <br>
        En 2016, David Jannequin propose à Johann une aventure inédite : "Mephisto, l'opéra-rock" composé par Francis Rimbert (Jean-Michel Jarre) et écrit par Philippe Tassart. Johann intègre la distribution dans un rôle de composition : celui d'un homme dépravé ! Le spectacle démesuré comprend 10 sollistes, 11 musiciens (dont le guitariste mondialement reconnu Patrick Rondat), une trentaine de figurants et de danseurs ainsi qu'une chorale.
        </p>
    </div>
  </div>
</div>
