
<nav class="navbar navbar-inverse navette" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand titlename" href="#"><h1>Johann Joosten</h1></a>
      <ul class="nav navbar-nav mainnav">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;"
           class="dropdown-toggle"
           role="button"
           >Bio & infos<span class="caret"></span></a>
            <ul class="dropdown-menu"
              [@dropState]>
              <li><a style="cursor: pointer;" routerLink="/bio&infos" fragment="c1" (click)="onAnchorClick()">l'artiste</a></li>
                <li><a style="cursor: pointer;" routerLink="/bio&infos" fragment="c3" (click)="onAnchorClick()">Discographie</a></li>
                  <li><a style="cursor: pointer;" routerLink="/bio&infos" fragment="c4" (click)="onAnchorClick()">l'équipe live</a></li>
                    <li><a style="cursor: pointer;" routerLink="/bio&infos" fragment="c5" (click)="onAnchorClick()">l'équipe studio</a></li>
                      <li><a style="cursor: pointer;" routerLink="/bio&infos" fragment="c2" (click)="onAnchorClick()">Autour du groupe</a></li>
            </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a
          style="cursor: pointer;"
          class="dropdown-toggle"
          role="button"
          >Médias<span class="caret"></span></a>
            <ul class="dropdown-menu"
            [@dropState]>
              <li><a style="cursor: pointer;" routerLink="/medias" fragment="c1" (click)="onAnchorClick()">Audio</a></li>
                <li><a style="cursor: pointer;" routerLink="/medias" fragment="c2" (click)="onAnchorClick()">Vidéos</a></li>
                  <li><a style="cursor: pointer;" routerLink="/medias" fragment="c3" (click)="onAnchorClick()">Presse</a></li>
                    <li><a style="cursor: pointer;" routerLink="/medias" fragment="c4" (click)="onAnchorClick()">Photos</a></li>
            </ul>
          </li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;"
             class="dropdown-toggle"
             role="button"
          >Concerts<span class="caret"></span></a>
            <ul class="dropdown-menu"
                [@dropState]>
              <li><a style="cursor: pointer;" routerLink="/concerts" fragment="c1" (click)="onAnchorClick()">A venir</a></li>
                <li><a style="cursor: pointer;" routerLink="/concerts" fragment="c2" (click)="onAnchorClick()">Passés</a></li>
            </ul>
        </li>
        <li><a style="cursor: pointer;" routerLink="/boutique">Boutique</a></li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;"
          class="dropdown-toggle"
          role="button"
          >Divers<span class="caret"></span></a>
            <ul class="dropdown-menu"
              [@dropState]>
              <li><a style="cursor: pointer;" routerLink="/divers" fragment="c1" (click)="onAnchorClick()">Contact</a></li>
                <li><a style="cursor: pointer;"routerLink="/divers" fragment="c2" (click)="onAnchorClick()">Liens</a></li>
                  <!-- <li><a style="cursor: pointer;">Livre d'or</a></li> -->
                    <li><a style="cursor: pointer;" routerLink="/divers" fragment="c3" (click)="onAnchorClick()">Paroles et accords</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
